.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--primary-text);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    @extend .medium;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.curved {
        border-radius: 999px;
    }
}

// Icons
.icon {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;

    &.center {
        justify-content: center;
    }
}

.icon + .content,
.content + .icon {
    margin-left: calc(var(--font-size) / 2);
}

// Type
.primary {
    background-color: var(--primary);
    color: var(--secondary);

    &:hover,
    &.active {
        background-color: var(--primary-hover);
    }
}

.secondary {
    background-color: var(--secondary);
    color: var(--secondary-text);

    &:hover,
    &.active {
        background-color: var(--secondary-hover);
    }
}

.primaryBorder {
    @extend .primary;
    border-color: var(--secondary);

    &:hover,
    &.active {
        border-color: var(--text-secondary);
    }
}

.secondaryBorder {
    @extend .secondary;
    border-color: var(--secondary-text);

    &:hover,
    &.active {
        border-color: var(--text-primary);
    }
}

.secondaryOutline {
    background-color: transparent;
    color: var(--secondary);
    border-color: var(--secondary);

    &:hover,
    &.active {
        background-color: var(--primary-hover);
    }
}

.transparent {
    background-color: transparent;
}

// Size
.medium {
    padding: 9px 18px;
    border-radius: 10px;
    border-width: 2px;
}

.small {
    padding: 6px 12px;
    border-radius: 8px;
    border-width: 1px;
}

.large {
    padding: 12px 24px;
    border-radius: 15px;
    font-size: calc(var(--font-size) + 2px);
    border-width: 2px;
}

.no-click {
    opacity: 0.5;
    pointer-events: none;
}