.default-header {
    background-color: var(--primary) !important;
    box-shadow: rgba(3, 18, 26, 0.2) 0px 1px 2px;
}

.content {
    position: relative;
    padding-bottom: 20px;
    margin: auto;
}